/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  inline-size: 100%;
}

.title_decoration {
  border: 0 solid transparent;
  background-color: var(--text-decoration-color);
}

/* Классы хедера */

.header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 0.62rem;
  block-size: 100vh;
}

.header::before {
  content: '';
  position: absolute;
  top: 0.62rem;
  right: 0.62rem;
  display: block;
  border-inline-end: 0.0625em solid var(--accent-color);
  border-block-start: 0.0625em solid var(--accent-color);
  background-color: transparent;
  inline-size: 1.5625rem;
  block-size: 1.5625rem;
}

.header::after {
  content: '';
  position: absolute;
  bottom: 0.62rem;
  left: 0.62rem;
  display: block;
  border-inline-start: 0.0625em solid var(--accent-color);
  border-block-end: 0.0625em solid var(--accent-color);
  background-color: transparent;
  inline-size: 1.5625rem;
  block-size: 1.5625rem;
}

.header__decoration-element {
  position: absolute;
  top: 0.62rem;
  right: 2.4rem;
  color: var(--accent-color);
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  font-style: var(--main-font-style);
  line-height: var(--main-line-height);
  text-align: center;
}

.header__decoration-element::after {
  content: '';
  position: relative;
  top: -1rem;
  left: 2.625rem;
  display: block;
  border-radius: 100%;
  background-color: var(--accent-color);
  filter: drop-shadow(0 0 0.25rem var(--accent-color));
  inline-size: 0.625rem;
  block-size: 0.625rem;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  padding-block-start: 0.6rem;
  min-block-size: 6.13rem;
  min-inline-size: 4.38rem;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 0.62rem;
}

.header__theme-menu-item {
  color: var(--accent-color);
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  font-style: var(--main-font-style);
  line-height: var(--nav-line-height);
  text-align: center;
}

.header__theme-menu-button {
  border: 0;
  padding: 0 0.8125rem;
  text-transform: lowercase;
  background-color: transparent;
  block-size: 1.625rem;
}

.header__theme-menu-button_active {
  border: 0.0625em solid var(--accent-color);
}

.header__logo {
  align-self: center;
  color: var(--logo-color);
  font-family: var(--main-font-family);
  font-weight: var(--header-font-weight);
  font-size: var(--logo-font-size);
  font-style: var(--main-font-style);
  line-height: var(--logo-line-height);
  text-shadow: 0.25rem 0.25rem 0 var(--logo-accent-color);
}

.header__title {
  justify-self: end;
  align-self: center;
  margin-block-end: 1rem;
  color: var(--secondary-header-color);
  font-family: var(--main-font-family);
  font-weight: var(--header-font-weight);
  font-size: var(--main-font-size);
  font-style: var(--main-font-style);
  line-height: var(--main-line-height);
  max-inline-size: 22.75rem;
}

/* Классы для основного контента */

.main {
  display: grid;
  gap: 3.12rem;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
  padding-inline: 0.62rem;
}

.section__title {
  color: var(--primary-header-color);
  font-family: var(--main-font-family);
  font-weight: var(--header-font-weight);
  font-size: var(--main-font-size);
  font-style: var(--main-font-style);
  line-height: var(--main-line-height);
}

.section__list {
  display: grid;
  gap: 1.25rem;
}

.section__article {
  display: flex;
  flex-direction: column;
  gap: 0.62rem;
}

.section__article_title {
  color: var(--secondary-header-color);
  font-family: var(--main-font-family);
  font-weight: var(--header-font-weight);
  font-size: var(--main-font-size);
  font-style: var(--main-font-style);
  line-height: var(--main-line-height);
}

.section__article_subtitle {
  color: var(--secondary-header-color);
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  font-style: var(--main-font-style);
  line-height: var(--main-line-height);
}

.section__article_paragraph {
  color: var(--text-color);
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  font-style: var(--main-font-style);
  line-height: var(--main-line-height);
}

/* Секция с изображениями */

.images {
  gap: 0.62rem;
}

.section__images {
  display: grid;
  gap: 0.62rem;
}

.section__image {
  display: flex;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
}

/* Промежуток планшет-компьютер */

@media (width >= 768px) {
  .page {
    gap: 3.75em;
  }

  /* Медиа-классы для хедера */

  .header {
    padding: 1.25rem;
  }

  .header::before {
    top: 1.25rem;
    right: 1.25rem;
  }

  .header::after {
    bottom: 1.25rem;
    left: 1.25rem;
  }

  .header__decoration-element {
    top: 1.25rem;
    right: 3rem;
  }

  .header__theme-menu {
    padding-block-start: 7rem;
  }

  .header__logo {
    margin-inline-start: -1.2rem;
  }

  .header__title {
    margin-block-end: 7rem;
  }

  /* Медиа-классы для основного контента */
  .main {
    gap: 5rem;
  }

  .section {
    grid-template-columns: 1fr 2.06fr;
    padding-inline: 1.25rem;
  }

  .rows {
    grid-template-columns: 1fr;
  }

  .section__title {
    width: 14.75rem;
  }

  /* Медиа-классы для секции с картинками */
  .images {
    gap: 1.25rem;
  }

  .section__images {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 1.25rem;
  }
  
  .section__image:nth-of-type(1) {
    grid-column: span 2;
  }

  .section__image:nth-of-type(2) {
    grid-row: span 2;
    block-size: 100%;
  }
  
  .section__image:nth-of-type(3) {
    grid-row: span 2;
    block-size: 100%;
  }

  .section__image:nth-of-type(5) {
    grid-column: span 2;
  }
}

/* Промежуток компьютер+ */

@media (width >= 1024px) {
  /* Медиа-классы для хедера */
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    padding: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    margin-block-end: 3.5rem;
    max-inline-size: 30.6875rem;
  }

  /* Медиа-классы для основного контента */
  .main {
    gap: 5rem;
  }
  
  .section {
    padding-inline: 1.25rem;
  }

  .columns {
    grid-template-columns: 1fr 2.06fr;
  }

  .list-rows {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section__title {
    width: 19.6875rem;
  }
}