/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  /* Переменная фона */
  --background-image: url(/images/cover-image-dark.png);

  /* Переменные цветов */
  --background-color: #000028;

  --logo-color: #DB00FF;
  --logo-accent-color: #FF0070;

  --accent-color: #FF0070;

  --primary-header-color: #FF0070;
  --secondary-header-color: #000028;
  --text-color: #F1B2CE;
  --text-decoration-color: #FF0070;

  /* Переменные шрифтов */
  --main-font-family: "IBM Plex Mono";

  --logo-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --main-font-size: 1.125rem;

  --main-font-style: normal;

  --main-font-weight: 400;
  --header-font-weight: 700;

  --main-line-height: 130%;
  --logo-line-height: 82.5%;
  --nav-line-height: 100%;
}

@media (width > 768px) {
  :root {
    --logo-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}